label{
	margin-top: 10px;
}
select{
	margin-top: 10px;
	min-height: 34px;
	width: 100%;
}
#dashboard_rel_select{
	margin:10px;
}
#ganttchart,#burndownchart,#plan_table_data{
	margin:10px;
}
table{
	width:100%;
	margin-top: 10px;
}
th{
	width:15%;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color:#52A2D8;
	text-align: center;
}
td{
	width:33.33%;
	padding-bottom: 10px;
	padding-top :10px;
}
tr:nth-child(even) {
	background-color:#fff;
}
tr:nth-child(odd) {
	background-color: #D8E3EC;
}